<hr/>
<div class="container-fluid">            
    <div class="row">
        <div class=" col-md-auto">

        </div>
        <div class="col-md-4 mi-2">
           
                <img src="assets/Images/Logo.png" class="img-responsive" alt="Logo" width="100px" height="auto">
           </div>
   
   <div class="col-md-6">
   <div class="btn-group">
       <button type="button" class="shadow btn btn-outline-primary wave-effect" #buttonupload>Upload media</button>
       <button type="button" class="shadow btn btn-outline-primary wave-effect" #buttonmymedia>My media</button>
       <button type="button" class="shadow  btn btn-outline-primary wave-effect" #buttonFollow>Followers/following</button>
     </div>
   </div>
         
     <div class="col-md-auto">
       <button type="button" class="btn btn-secondary btn-lg">Account</button>
</div>
    </div>
   </div>