
                <div class="container-fluid">            
                 <div class="row">
                     <div class=" col-md-auto">

                     </div>
                     <div class="col-md-4 mi-2">
                        
                             <img src="assets/images/Logo.png" class="img-responsive" alt="Logo" width="100px" height="auto">
                        </div>
                
                <div class="col-md-6">
                <div class="btn-group">
                    <button type="button" class="shadow btn btn-outline-primary wave-effect">Upload media</button>
                    <button type="button" class="shadow btn btn-outline-primary wave-effect">My media</button>
                    <button type="button" class="shadow  btn btn-outline-primary wave-effect">Followers/following</button>
                  </div>
                </div>
                      
                  <div class="col-md-auto">
                    <button type="button" class="btn btn-secondary btn-lg">Account</button>
             </div>
                 </div>
                </div>
                 
                    <div class="ml-3">
                        <img src="/assets/images/profile image.png" class="img-circle" alt="profile image" width="104" height="auto"> 
                        </div>
                        <div>
                            <h5>@welcome</h5>
                        </div>

   <hr>