<section>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h2 class="text-muted mt-2 mb-3">Account</h2>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Register</a>
                    </li>
                </ul>
            </div>
            </div>
            </div>
            </section>
