
    <div class="col-5 " >
                <div class="btn-group">
                    <button type="button" class=" shadow btn btn-outline-info">Followers</button>
                    <button type="button" class="shadow btn btn-outline-info">Following</button>
            </div>
  
<section>
    <div class="container">
    <div class="card-deck">
        
            <div class="card">
                <img src="imgae1.png" alt="Card at first " class="card-img-top">
                <div class="card-body">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Like</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Comment</a>
                        </li>       
                    </ul>    
                </div>
            </div>
        
            <div class="card">
                <img src="imgae1.png" alt="Card at first " class="card-img-top">
                <div class="card-body">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Like</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Comment</a>
                        </li>       
                    </ul>    
                </div>
            </div>
        
            <div class="card">
                <img src="imgae1.png" alt="Card at first " class="card-img-top">
                <div class="card-body">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Like</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Comment</a>
                        </li>       
                    </ul>    
                </div>
            </div>
        
       
            <div class="card">
                <img src="imgae1.png" alt="Card at first " class="card-img-top">
                <div class="card-body">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Like</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Comment</a>
                        </li>       
                    </ul>    
                </div>
            </div>
    </div>
   
    <div class="card-deck">
       
            <div class="card">
                <img src="imgae1.png" alt="Card at first " class="card-img-top">
                <div class="card-body">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Like</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Comment</a>
                        </li>       
                    </ul>    
                </div>
            </div>
        
        
            <div class="card">
                <img src="imgae1.png" alt="Card at first " class="card-img-top">
                <div class="card-body">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Like</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Comment</a>
                        </li>       
                    </ul>    
                </div>
            </div>
        
        
            <div class="card">
                <img src="imgae1.png" alt="Card at first " class="card-img-top">
                <div class="card-body">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Like</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Comment</a>
                        </li>       
                    </ul>    
                </div>
            </div>
            <div class="card">
                <img src="imgae1.png" alt="Card at first " class="card-img-top">
                <div class="card-body">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Like</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Comment</a>
                        </li>       
                    </ul>    
                </div>
            </div>
       

    </div>
</div>   
</section>
